<!DOCTYPE html>
<html lang="en">

  <!-- HEAD COMPARTIDO -->
   <%- include("../partials/head") %>

   <body>
     <!-- HEADER COMPARTIDO -->
    <%- include("../partials/header") %>

<script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

    <h2 class="titulo-productDetail">Nuestros planes</h2>
    <div class="boton-producto2">
    <% if(locals.email) { %> 
      <% if(locals.email.id_rol==1) { %>
      <button><a href="/products/create">Crear nuevo</a></button>
      <%}%> 
      <%}%> 
    </div>
    <main class="caja-main">
      <% planes.forEach(plan => { %>
      <!-- Planes -->
      <article class="producto">
        <div class="inicial">
            <div class="precio-producto">
              <p><%=plan.price %> ARS</p>
            </div>
            <div class="titulo-producto">
              <h3><%=plan.name %></h3>
            </div>
            <div class="duracion">
              <p>Duración: <%=plan.duration %></p>
            </div>
            <div class="items-producto">
                <%= plan.description %>
            </div>
            <div class="boton-producto">
              <button>Contratar</button>
              <% if(locals.email) { %> 
              <% if(locals.email.id_rol==1) { %>
              <button><a href="/products/<%= plan.id%>/edit">Editar</a></button>
              
              <form action="/products/<%= plan.id %>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
              </form>
              <%}%> 
              <%}%>
            </div>
        </div>
      </article>
      <% }) %>
    </main>
    

  <!-- FOOTER COMPARTIDO -->
  <%- include("../partials/footer") %>
  
  </body>
</html>
