<!DOCTYPE html>
<html lang="en">

  <!-- HEAD COMPARTIDO -->
  <%- include("../partials/head") %>

  <body>
    <!-- HEADER COMPARTIDO -->
   <%- include("../partials/header") %>

  <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

  <main>

    <div class="form-load">
      <% plan.forEach(plan => { %>
      <form action="/products/<%= plan.id %>?_method=PUT" method="POST">
        <h4 class="titulo-registrate">Edición de Plan</h4>
            <div class="form-ingresa">
                
                <label class="label-form-load" for="name">Nombre del plan</label>
                <input class="input-form-load" type="text" name="name" id="name"  required value="<%= plan.name %>">
                
                <label class="label-form-load" for="description">Descripcion del plan</label>
                <textarea class="input-form-load" name="description" id="description" required><%= plan.description %></textarea>

                <label class="label-form-load" for="duration">Duración del plan</label>
                <input class="input-form-load" type="text" name="duration" id="duration" required value="<%= plan.duration %>" >
                
                <label class="label-form-load" for="image">Imagen del plan</label>
                <input class="input-form-load" type="file" name="image" id="image" accept=".jpg">

                
                <label class="label-form-load" for="category">Categoria del plan</label>
                <br></br>
                <div class="contenedor-categoria">
                  <% categorias.forEach(categoria => { %>
                    <input  class="input-form-load" type="radio" name="category" id="category"  value="<%= categoria.id %>"  <% if (plan.id_category == categoria.id) { %> checked <% } %>  > <%= categoria.name %>
                    <% }) %>  
                </div>
                <br></br>

                <label class="label-form-load" for="price">Precio del plan</label>
                <input  class="input-form-load" type="text" name="price" id="price" value="<%= plan.price %>">

                <div class="contenedor-boton-carga">
                  <button class="boton-carga"><a href="/products">Volver</a></button>  
                  <button class="boton-carga" type="submit">Actualizar</button>
                    
                </div>
                
            </div>
      </form>
      <% }) %>
    </div>

  </main>
  
  <!-- FOOTER COMPARTIDO -->
  <%- include("../partials/footer") %>
  
</body>

</html>